<div><div class="container p-3 mx-auto w-50 form-box my-5 rounded-primary">
    <h2 style="color: #181642" class="text-center mb-3">Login</h2>
    <form action="/login" method="post" class="p-2">
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">Email</span>
          <input required="" name="email" type="email" aria-label="email" class="form-control" placeholder="enter your email" fdprocessedid="mw6sb8">
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">Password</span>
          <input required="" name="password" type="password" aria-label="password" class="form-control" placeholder="enter your password" fdprocessedid="ryjtfm">
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary mt-2 lbtn" fdprocessedid="df08ko">Login</button>
    </form>
  </div>
  </div>